@font-face {
  font-family: "Circular";
  src: url("../../public/fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cirular medium";
  src: url("../../public/fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-size: normal;
}
